.about-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source code Pro', cursive;
}

#about-the-app{
    width: 85%;
    font-size: 1em;
}
.tips {
    color: rgb(187, 3, 187);
    margin: 20px;
}

.tips:hover {
    color: black;
}
h1 {
    font-size: 36pt;
}