.about-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Source code Pro', cursive;
}

#about-the-app{
    width: 85%;
    font-size: 1em;
    /* border: solid purple 2pt; */
}

h1 {
    color: #5d00e0;
}

p {
    margin: 20px;
}