.main-header-container{
    height: 100%;   
    font-family: 'Gloria Hallelujah', cursive;
}    
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    /* background: linear-gradient(to right, #dddddd 12%,#32f20c 33%,#32f20c 33%,#eded0b 54%,#0720fc 71%,#d62669 86%); */
    /* opacity: 0.5; */
}

.logo {
    height: 25vh;
    margin-top: 15px;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    font-size: 18pt;
}

.header-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header-link:hover {
    color: #5d00e0
}

.dash {
    color: #5d00e0;
}

.header .icon{
    display: none;
}

.icon {
    color: #5d00e0;
    size: 24px;
}

p {
    margin: 0 auto;
    font-size: 24pt;
}

@media screen and (max-width:800px){
    .header-link { display: none;}
    .dash { display: none;}
    .header .icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px){
    .header.responsive{ position: relative;}
    .header.responsive .icon {
        position: relative;
        right: 30px;
        top: 45px;
    }
    .header.responsive .header-link{
        float: none;
        display: block;
        font-size: 8pt;
    }
}

@media screen and (max-width: 680px){
    p {
        font-size: 14pt;
        margin-right: 20px;
    }
}