.login-page {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seize {
    height: 25%;
    width: 25%;
    margin: 0 auto;
    animation-name: fadeIn;
    animation-duration: 5s;
    /* border: solid purple 2pt; */
}

.about{
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 3, 187);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 18pt;
}
.welcome {
    color: white;
}

.about > h1{
    text-align: center;
}

/* .login-text{
    display: none
} */

.welcome:hover{
    animation-name: fadeText;
    animation-duration: 5s;
}

.login-text:hover{
    animation-name: fadeText;
    animation-duration: 3s;   
}

.text {
    animation-name: inNOu;
    animation-duration: 10s;
}

@keyframes fadeText{
    0% {
        opacity: .5;
    }
    100 {
        opacity: 1;
    }
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}


.login-box {
    /* margin-top: 50%; */
    background-color: rgb(187, 3, 187);
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box:hover{
    border-radius: 50%;
}

.btn-login {
    margin: 0 auto;
    width: 50%;
    border: solid black 1pt;
    background: white;
    font-size: 8pt;
    color: purple;
    padding: 5%;
}

.about-btn{
    margin: 100px auto;
    width: 25%;
    border: solid white 1pt;
    background: transparent;
    font-size: 24pt;
    color: white;
    padding: 1%;
}

.btn-login:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 1024px) and (max-height: 1366px){
    .login-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px){
    .login-box {
        margin-top: 100px;
        width: 50%;
        height: 200px;
    }
}

@media screen and (min-width: 800px){
    .btn-login {
        font-size: 18pt;
    }
    .login-box {
        margin: 5% auto;
    }
}