#tile-background {
    background-image: url('wires1.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;   
}

.t-board {
    margin: 0 100px;
}
.image {
    width: 400px;
    height: 300px;
    border-radius: 8pt;
    position: relative;
    border: solid rgb(187, 3, 187);
}
.image-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: 0 70px;
    /* padding-left: 50px; */
    /* margin: 0 50px; */
}

.tile-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px;
    align-items: center;
    border: solid purple 2pt;
    width: 87vw;
}

/* @media screen and (min-width: 1020px){
    .image {
        width: 400px;
        height: 300px;
    }
    .image-container {
        justify-content: center;
        align-items: center;
        margin: 40px;
    } 
    .tile-boxes {
        width: 54vw;
        border: solid purple 2pt;
    }
} */

/* .account-info {
    margin: 0 auto;
    width: 90%;
    align-items: center;
} */

.image-texts {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   -webkit-animation: colorChange 20s infinite alternate;
   /* animation-duration: 20s infinite; */
}

@keyframes colorChange{
    0% {
       color: blue;
       top: 0px;
       /* left: 5px; */
    }
    20% {
        color: rgb(255, 52, 177);
        top: 20px;
        /* left: 17px; */
    }
    40% {
        color: greenyellow;
        top: 40px;
        /* left: 4px; */
    }
    60% {
        color: purple;
        top: 60px;
        right: 20px;
        /* left: 20px; */
    }
    80% {
        color: white;
        top: 75px;
        left: 20px;
    }
    100% {
        color: black;
        top: 90px;
        /* left: 10px; */
    }
}

.user-info {
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.myboard-btn {
    margin: 20px 10px 30px;
    font-family: 'Source code pro', cursive;
    width: 200px;
    background-color: rgb(187, 3, 187);
    padding: 10px;
    color: white;
    border: solid white 2pt;
}
.account-info-detail {
    border: solid rgb(187, 3, 187) 2pt;
}

.account-info {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('wires1.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;  
}

.delete-btn { 
    text-decoration: none;
    position: absolute;
    color: rgb(255, 6, 255);
    bottom: 0;
    left: 100px;
    background: transparent;
    border: none;
    text-align: center;
    width: 100px;
    height: 50px;
    font-size: 16pt;
    font-weight: 700;
    opacity: 0;
    /* padding-left: 50px; */
} 
.edit-btn { 
    text-decoration: none;
    position: absolute;
    color: rgb(255, 6, 255);
    bottom: 0;
    left: 0;
    background: transparent;
    border: none;
    width: 100px;
    height: 50px;
    font-size: 16pt;
    font-weight: 700;
    opacity: 0;
    /* padding-left: 75px; */
} 

.tiles:hover .delete-btn{
    opacity: 1;
    margin: 0 auto;
}
.tiles:hover .edit-btn{
    opacity: 1;
    margin: 0 auto;
}

.tiles:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 375px) and (max-height: 667px){
    .image{
        margin-left: 25px;
    }
}

@media screen and (max-width: 1030px) and (max-height: 800px){
    /* .t{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    } */
   .image{
       width: 300px;
       height: 250px;
       margin: 0 70px;
   }
}
@media screen and (max-width: 700px){
    .image {
        width: 325px;
        height: 225px;
    }
    .user-info{
        margin-left: 0px;
    }
}