.upload-page {
  display: flex;
  flex-direction: row;
  color: black;
  background-image: url('wires1.png');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-size: 18pt;
}

.edit-component{
  background-image: url('wires1.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: 18pt;
}

.editPreviewcomponent{
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.instructions {
  width: 50%;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: white;
}

.inst-button {
  height: 100px;
  width: 40%;
  /* width: 200px; */
  margin: 200px auto;
  font-size: 18pt;
  background: white;
  border: solid rgb(187, 3, 187) 1pt;
  color: rgb(187, 3, 187);
  cursor: pointer;
}

.inst-button:hover {
  background: rgb(187, 3, 187);
  color: white;
}

h1 {
  color: rgb(187, 3, 187);
}
.inst-title{
  text-shadow: 5px 5px aqua;
}
.instructions:hover{
  color: rgb(187, 3, 187);
}

.previewComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* margin: 10px auto; */
  font-family: 'Gloria Hallelujah', cursive;
}

h3 {
  margin-left: 15px;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  height: 10px;
  width: 200px; 
}
.imgPreview {
  text-align: center;
  margin: 0 auto;
  height: 500px;
  width: 600px;
  background: white;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

.previewText {
  margin: 100px auto;
}

.upload-img {
  width: 600px;
  height: 500px;
}

.state {
  margin: 15px auto;
}

.caption{
  margin: 20px;
}

.empty{
  height: 100px;
}

.empty-board {
  color: black;
}

.cat {
  margin: 20px;
}

@media screen and (max-width: 1024px) and (max-height: 1366px){
  .upload-page {
    display: flex;
    flex-direction: column;
  }
  .previewComponent {
    width: 700px;
    margin: 0 auto;
  }
  .instructions {
    margin: 0 auto;
  }
  .upload-img{
    display: flex; 
    flex-direction: column;
  }
  .imgPreview {
    width: 500px;
    height: 400px;
  }
  .upload-img{
    width: 495px;
    height: 295px; 
  }
  .cat {
    margin: 10px;
    border: solid black 1pt;

  }
}
@media screen and (max-width: 375px) and (max-height: 667px){
  .previewComponent {
    width: 325px;
  }
  .imgPreview{
    width: 325px;
  }
  .upload-img{
    width: 320px;
    height: 295px;
  }
  .cat {
    border: solid black 1pt;
    margin: 5px;
  }
}